# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Model artifacts (rebuilt by CI/CD)
model/model.pkl
model/scaler.pkl
model/feature_names.pkl

# Docker
.dockerignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
node_modules/
# Local Netlify folder
.netlify
